.about{
    margin-top: 60px;
    padding: 50px 10px;
}

.team-image{
	height:300px;
	width:100%;
	background-image: url('../assets/team.svg');
	background-position-x:50%;
	background-repeat: no-repeat;
	background-size: contain;
}