.content-section {
	min-height: 100vh;
}
.sticky-offset {
	top: 85px;
	z-index: 0;
}
.fixed-top-2 {
	margin-top: 50px;
	z-index: 1;
}

.detail-dark {
	background-color: #18181b;
	color: #f5f5f7;
}

.bg-dark-nav{
	background-color: #18181B
}


.ck-content{
    color:black;
    background: black;
}