.helps {
  margin-top: 60px;
  padding: 50px 20px;
}

.remote-image{
	height:300px;
	width:100%;
	background-image: url('../assets/remote-team.svg');
	background-repeat: no-repeat;
	background-position-x:50%;
	background-size: contain;
}
