@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.jumbotron-fluid {
  height: 642px;
  padding-top: 57px;
  background: #fff;
}

.tag-line {
  padding-top: 180px;
}
.jumbotron-content {
  height: 100vh;
}
.image-bg {
  background-image: url("../assets/digital_nomad.svg");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 20%;
}

.image-bg-2 {
  background-image: url("../assets/completed_task.svg");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 20%;
}

.image-bg-3 {
  background-image: url("../assets/people_connection.svg");
  background-size: 60%;
  background-repeat: no-repeat;

  background-position-x: 10%;
  background-position-y: 20%;
}

.sign-in-btn,
.sign-up-btn {
  border-radius: 30px;
  width: 100%;
}

.get-started-btn {
  border: none;
  background-color: #e8bf00;
  padding: 5px 20px;
  border-radius: 30px;
}

.cookie-bar {
  background-color: #3b4045;
  font-size: 12px;
  color: white;
}
.cookie-bar-disappear {
  display: none;
}

.line-1 {
  font-size: 48px;
}

.line-2 {
  font-size: 20px;
}

.cookie-btn {
  font-size: 14px;
  color: lightgray;
  padding: 5px 10px;
  border-radius: 5px;
}
.cookie-btn:hover {
  background-color: #e8e8e8;
  color: #000;
}

@media only screen and (max-width: 991.98px) {
  .tag-line {
    padding-top: 30px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .image-bg {
    padding-top: 50px;
    background-image: url("../assets/digital_nomad.svg");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position-y: 70%;
    background-position-x: 50%;
  }
}

@media only screen and (max-width: 768px) {
  .navbar-brand {
    margin-left: 20px;
  }
  .tag-line {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .image-bg {
    padding-top: 50px;
    background-image: url("../assets/digital_nomad.svg");
    background-size: 90%;
    background-repeat: no-repeat;
    background-position-y: 80%;
  }
}

@media only screen and (max-width: 576px) {
  .navbar-brand {
    margin-left: 20px;
  }
  .tag-line {
    padding-top: 30px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .image-bg {
    background-image: url("../assets/digital_nomad.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 70%;
  }
  .line-1 {
    font-size: 32px;
  }

  .line-2 {
    font-size: 18px;
  }
}
