body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  transition: background-color 0.3s;
  overflow-x: hidden;
}

.custom-navbar {
  width: 100%;
}

.shadow {
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.bg-darks {
  background-color: #1f1f23;
}

.bg-white-sidebar {
  background-color: #f1f1f1;
}

.bg-dark-sidebar {
  background-color: #1f1f23;
}

.nav-link-dark-sidebar {
  color: #c3c3c3;
}

.nav-link-white-sidebar {
  color: #1a1a1a;
}

.sidebar {
  margin-top: 50px;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 240px;
  min-height: 100%;
  transition: 0.5s;
  transition-property: left;
  font-size: 14px;
  padding: 20px 10px;
}

.sidebar a {
  display: block;
  width: 100%;
  line-height: 50px;
  text-decoration: none;
  padding-left: 18px;
  box-sizing: border-box;
  transition: 0.5s;
  transition-property: background;
  border-radius: 5px;
}

.sidebar a span {
  margin-left: 20px;
}

.bg-white-sidebar .nav-link-white-sidebar:hover {
  background-color: #e1e1e1;
  color: #1a1a1a;
}

.bg-dark-sidebar .nav-link-dark-sidebar:hover {
  background-color: #1a1a1a;
  color: #c3c3c3;
}

.mini-sidebar {
  margin-top: 50px;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 70px;
  min-height: 100%;
  transition: 0.5s;
  transition-property: left;
  font-size: 14px;
  padding: 20px 10px 10px 10px;
}
.mini-sidebar a {
  display: block;
  width: 100%;
  line-height: 50px;
  text-decoration: none;
  font-size: 20px;
  box-sizing: border-box;
  transition: 0.5s;
  transition-property: background;
  border-radius: 5px;
}
.mini-sidebar a span {
  display: none;
}

.mini-sidebar a div {
  padding: 15px 15px;
}

.active-link-sidebar {
  font-weight: bold;
  color: #772ce8;
}

.content .content-wrapper {
  padding: 5px;
}

.background-1 {
  width: 100%;
  height: 100%;
  background-image: url("../assets/social_friend.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 90%;
}
.announcement {
  width: 100%;
  height: 100%;
  background-image: url("../assets/announcement.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 90%;
}

.background2 {
  width: 100%;
  height: 100%;
  background-image: url("../assets/class.svg");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: 100%;
}
.background3 {
  width: 100%;
  height: 100%;
  background-image: url("../assets/book.svg");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: 100%;
}

.background4 {
  width: 100%;
  height: 100%;
  background-image: url("../assets/todo-list.svg");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: 100%;
}

.background5 {
  width: 100%;
  height: 100%;
  background-image: url("../assets/completed.svg");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: 100%;
}

.quiz-score {
  width: 100%;
  height: 100%;
  background-image: url("../assets/winners.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 80%;
}

.classroom-detail {
  width: 100%;
  height: 100%;
  background-image: url("../assets/class.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 80%;
}

/* This is Drawer sidebar*/

/* until this is Drawer sidebar*/

.fixed-nav {
  background-color: #fff;
  padding: 10px;
}

[data-tooltip-text]:hover {
  position: relative;
}

[data-tooltip-text]:hover:after {
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.7);

  -webkit-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
  -moz-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
  box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  color: #ffffff;
  font-size: 12px;
  content: attr(data-tooltip-text);
  margin-bottom: 10px;
  top: 58%;
  transform: translateX(20%);
  padding: 7px 12px;
  position: absolute;
  width: 115px;
  z-index: 9999;
}

.data-tooltip-text:hover {
  position: relative;
}

.data-tooltip-text:hover:after {
  position: absolute;
  z-index: 9999;
}

[data-tooltip-text-1]:hover:after {
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.7);

  -webkit-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
  -moz-box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);
  box-shadow: 0px 0px 3px 1px rgba(50, 50, 50, 0.4);

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  color: #ffffff;
  font-size: 12px;
  content: attr(data-tooltip-text-1);
  margin-bottom: 10px;
  top: 130%;
  right: 120%;
  padding: 7px 12px;
  position: absolute;
  width: 140px;
  z-index: 9999;
}

.search-bar-input {
  border-radius: 5px 0px 0px 5px;
  font-size: 14px;
}

.search-icon {
  background-color: #c3c3c3;
  height: 36px;
  font-size: 20px;
  padding: 0px 7px;
  border-radius: 0 7px 7px 0;
  color: #f1f1f1;
}

.search-icon:hover {
  background-color: #772ce8;
  transition: all 0.3s;
  color: white;
}

.search-icon-dark-mode {
  background-color: #1f1f23;
  height: 36px;
  padding: 0px 7px;
  border-radius: 0 7px 7px 0;
  color: #4d4d4d;
  font-size: 20px;
}
.search-icon-dark-mode:hover {
  background-color: #772ce8;
  transition: all 0.3s;
  color: #1f1f23;
}

.dark-link {
  color: #1a1a1a;
}

.dark-link:hover {
  color: #3c3c3c;
  cursor: pointer;
  transition: 0.2s;
  text-decoration: none;
}

.centering {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-menu {
  border: none;
}
.dropdown-menu-dark {
  background-color: #18181B;
  font-size: 14px;
}

.dropdown-menu-light {
  background-color: #fffff;
  font-size: 14px;
}
.dropdown-menu .dd-dark-mode:hover {
  background-image: none;
  background-color: #000000 !important;
}

.dropdown-menu .light:hover {
  background-image: none;
  background-color: #e1e1e1 !important;
}

.dropdown-menu .light-mode-btn:hover {
  background-image: none;
  background-color: transparent !important;
}

.dropdown-menu .dark-mode-btn:hover {
  background-image: none;
  background-color: transparent !important;
}

.toggle-button-cover {
  position: relative;
  height: 22px;
  box-sizing: border-box;
}

.knobs,
.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.btn-dark-mode {
  position: relative;
  width: 40px;
  height: 22px;
  overflow: hidden;
}

.btn-dark-mode.r,
.btn-dark-mode.r .layer {
  border-radius: 100px;
}

.checkbox {
  position: relative;
  width: 50px;
  height: 100%;
  padding: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

.layer {
  width: 100%;
  background-color: #eeeeff;
  transition: 0.5s ease all;
  z-index: 1;
  border: 2px solid #c3c3c3;
}
#button-9 .knobs:before,
#button-9 .knobs:after,
#button-9 .knobs span {
  position: absolute;
  top: 3px;
  width: 16px;
  height: 8px;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 8px 5px;
  border-radius: 50%;
  transition: 0.1s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

#button-9 .knobs:before {
  content: "";
  left: 2px;
  font-size: 10px;
}

#button-9 .knobs:after {
  content: "";
  right: -24px;
  font-size: 10px;
}

#button-9 .knobs:before,
#button-9 .knobs:after {
  color: #fff;
  z-index: 2;
}

#button-9 .knobs span {
  left: 4px;
  background-color: #8cb4ff;
  z-index: 1;
}

#button-9 .checkbox:checked + .knobs:before {
  left: -20px;
}

#button-9 .checkbox:checked + .knobs:after {
  right: 6px;
}

#button-9 .checkbox:checked + .knobs span {
  left: 20px;
  background-color: #b34ed4;
}

#button-9 .checkbox:checked ~ .layer {
  background-color: #0e0e10;
}

.notif-btn,
.user-btn {
  cursor: pointer;
}

.button-secondary {
  background-color: transparent;
}
.button-secondary:hover {
  background-color: rgba(88, 83, 83, 0.3);
}

.critical {
  background: #ffccaa;
  border: 1px solid #ff3334;
}

.help {
  background: #9fdaee;
  border: 1px solid #2bb0d7;
}

.info {
  background: #9fdaee;
  border: 1px solid #2bb0d7;
}

.warning {
  background: #ffffaa;
  border: 1px solid #ffad33;
}

@media only screen and (max-width: 768px) {
  .content {
    margin: 0;
  }
  .sidebar,
  .mini-sidebar {
    display: none;
  }
}
